[user]
	name = <%= print("Your Name: "); STDOUT.flush; STDIN.gets.chomp %>
	email = <%= print("Your Email: "); STDOUT.flush; STDIN.gets.chomp %>
[merge]
  tool = vimdiff
[core]
  editor = <%= print("Preferred git editor (vim?): "); STDOUT.flush; STDIN.gets.chomp %>
